html, body, h1, h2, h3, h4, h5, h6 {
	font-weight: 300; 
	font-family: 'Lato', sans-serif;
}

h1.cover-heading {
	font-size: 4em;
	color:#5F0E78;
}

.cover {
	padding: 45px 20px;
}

.masthead, .mastfoot {
	position:relative;
}

.mastfoot img {
	float:right;
	padding-bottom:15px;

	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS *

	-webkit-transition: -webkit-filter .3s ease-in; /* chrome & safari */
    -moz-transition: filter .3s ease-in; /* firefox and other gecko-based */
    -ms-transition: filter .3s ease-in; /* ie 10+ */
    -o-transition: filter .3s ease-in; /* opera */
    transition: filter .3s ease-in; /* w3 (future standard) */
}
.mastfoot img:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
}

textarea#originaltext, textarea#convertedtext {
	background-color: #ccc;
	margin-top:30px;
	padding:5px;
	width:40%;
	color:#333;
	height:200px;
	max-width: 40%;
	font-size:1.5em;
}
img#arrowimg {
	width:8%;
	float:center;
	margin-top:110px;
}
textarea#originaltext {
	float:left;
}
textarea#convertedtext {
	float:right;
}

.mastfoot a {
	color:black;
	text-align: right;
}

.lead {
	margin-bottom: 0;
}

.nav, .masthead-brand, .text-section {
	text-align: center;
}

p {
	color:#000;
}

a, a:focus, a:hover {
color: #5F0E78;
}

h1, h2, h3, h4, h5, h6 {
	color:#5F0E78;
}

.masthead-nav > li > a {
padding-left: 0;
padding-right: 0;
font-size: 16px;
font-weight: bold;
color: rgba(33,33,33,.75);
border-bottom: 2px solid transparent;
}